:root {
    --main-color: teal;
    --main-color-hover: #4c9e9e;
    --body-bg-color: rgb(238, 234, 234);
}

main {
    position: relative;
    max-width: 1500px;
    width: 100%;
    /* margin-top: ; */
    margin: 80px auto 0;

    /* display: grid;
    grid-template-areas: aside aside bread; */
}

/* -------------------------------- Aside Element --------------------------- */
main aside {
    position: relative;
    float: left;
    padding: 14px 18px 20px;
    width: 23%;
    height: 87.5vh;
    background-color: var(--main-color);
}

/* ---------------------------- Best Deal In Header --------------------------- */
aside header {
    font-size: 25px;
    font-weight: 600;
    margin: 0 auto;
    width: 90%;
}

aside header span {
    font-size: 38px;
    font-weight: 600;
}

/* ---------------------------- Best Deal In Container --------------------------- */
aside .best__deal__in__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    margin: auto;
}

aside .best__deal__in__container a {
    width: 85%;
    background-color: #fff;
    padding: 10px;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #111;
}

aside .best__deal__in__container a:hover {
    color: var(--main-color);
}

.best__deal__in__container a>span {
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    font-size: 38px;
    font-weight: 600;
    line-height: 5px;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

.best__deal__in__container a:hover>span {
    transform: scale(1);
    margin-left: 10px;
    color: var(--main-color-hover);
}

/* ---------------------------- Breadcrumb --------------------------- */
ul.breadcrumb {
    position: relative;
    float: right;
    width: 75%;
    /* margin: 20px auto; */
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}